* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

h1 {
    display: none;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
}

#hero-image {
    background: url(../images/hero-image-mobile.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
}


/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}

h1 {
    padding: 1rem;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

footer a {
    color: black;
}

/* About Us */
.about-us {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-us h3{
    text-align: center;
}

#about-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.about-item {
    flex-basis: 30%;
}

/* Contact Section - Home Page */
#about-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

/* Testimonial Page */
.testimonial-item {
    padding: 15px;
}

/* Contact Page */
#contact-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.contact-item {
    flex-basis: 40%;
    text-align: center;
    padding: 20px;
}

#contact-header > p {
    text-align: center;
}

/* Media Query for larger screen sizes */
@media screen and (min-width: 480px) {
    #hero-image {
        background: url(../images/hero-image.jpg) no-repeat center center;
    }
    #about-container {
        flex-direction: row;
    }
    #contact-container {
        flex-direction: row;
    }
    h1 {
        display: inline;
    }
}