/* https://fonts.google.com/specimen/Cabin?category=Sans+Serif&preview.text=Mobile%20Physio&preview.text_type=custom */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* https://fonts.google.com/specimen/Nunito?category=Sans+Serif&preview.text=Mobile%20Physio&preview.size=21&preview.text_type=custom#styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Nunito', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

/* Refactored Code: */
.header-section {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}








h1, h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

footer {
    text-align: center;
}


h1 {
    padding: 1rem;
    /* Hide header on mobile devices */
    display: none;
}

/* Highlight header text on hover */
header a:hover {
    text-decoration: underline;
}

#hero-image {
    background: url(../images/hero-image-mobile.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
}


/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

footer a {
    color: black;
    transition: 0.5s transform;
    margin-bottom: 15px;
}

/* Style social media icons on hover */
footer a:hover {
    /* Enlarge icons */
    transform: scale(1.5);
}

/* About Us */
.about-us {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-us h3{
    text-align: center;
}

#about-container {
    justify-content: space-around;
    align-items: stretch;
}

.about-item {
    flex-basis: 30%;
    background-color: lightgrey;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s transform;
}

.about-item:hover {
    /* Enlarge item */
    transform: scale(1.05);
}

.about-item img {
    max-width: 100%;
}

/* Contact Section - Home Page */
#about-contact-container {
    justify-content: center;
    align-items: center;
}

/* Testimonial Page */
#testimonial-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.testimonial-item {
    padding: 10px;
    background-color: lightgrey;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    width: 80%;
    transition: 0.5s transform;
}
/* Enlarge testimonial item on hover */
.testimonial-item:hover {
    transform: scale(1.05);
}
/* Style Font Awesome review stars */
.testimonial-item i {
    color: gold;
    text-shadow: 2px 2px black;
    font-size: xx-large;

/* Move individual stars on hover */
    transition: 0.5s transform;
    
}
.testimonial-item i:hover {
    transform: translateY(-5px);
}

/* Contact Page */

#contact-container {
    align-content: center;
    justify-content: space-around;
}

.contact-item {
    flex-basis: 35%;
    padding: 5%;
    background-color: lightgray;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
}

.contact-item img {
    max-width: 100%;
}

.contact-item h3 {
    text-align: center;
}

.contact-item form {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
}

/* Add margin to add space between radio input and label */ 
input[type="radio"]{
    margin-right: 5px;
}

/* Only allow vertical resizing, to stop overflowing off of contact-item */
textarea {
    resize: vertical;
}

/* Style for Buttons */
button, .form-button {
    padding: 1rem;
    border: none;
    box-shadow: 5px 5px 2px black;
    text-align: center;
    margin: 1rem;
    transition: 0.5s transform, color, background-color, box-shadow;
    border-radius: 20px;
    background-color: #F0F0F0;
}

/* Style buttons on hover */
button:hover, .form-button:hover {
    /* Enlarge buttons */
    transform: scale(1.1);

    /* Colour background & text */
    color: white;
    background-color: #4EB7DA;

    /* Enlarge box shadow */
    box-shadow: 5px 5px 5px black;
}

/* Media Query for larger screen sizes */
@media screen and (min-width: 480px) {
    #hero-image {
        background: url(../images/hero-image.jpg) no-repeat center center;
    }
    #about-container {
        flex-direction: row;
    }
    #contact-container {
        flex-direction: row;
    }
    #contact-item {
        padding-left: 10%;
        padding-right: 10%;
    }
    h1 {
        display: inline;
    }
}